#navbar {
    background-color: #DD6EFF;
    border-radius: 9px;
    height: 62px;
    margin-top: 12px;
}

#menu-header {
    color: black;
    border-color: #DD6EFF;
}

.logo {
    position: absolute;
    width: 134px;
    height: 60.25px;
    left: 89px;
    top: 1.38px;
}

.formulario-aluno {
    background-color: #B1CAF8;
    margin-top: 20px;
    border-radius: 10px;
    padding-left: 14px;
    padding-top: 34px;
    height: 730px;
}

.form-control {
    background-color: #C4C4C4 !important;
}

.imgHeader1 {
    height: 24px;
    width: 25px;
    border-radius: 0px;
    margin-top: -43.5px;
}

.imgHeader2 {
    height: 24px;
    width: 24px;
    margin-left: 241px;
    margin-top: -35.5px;
    border-radius: 0px;

}

#campoForm {
    width:94%
}

.description {
    font-weight: 800;
    padding-bottom: 24px;
}

#button {
    background-color:#F89040 ;
    width: 58%;
    height: 46px;
    margin-left: 18%;
    font-size: 15px;
    color: black;
    font-weight: 600;
    margin-top: 10%;
}

#navbarSupportedContent {
    background-color: #DD6EFF;
    padding-left: 5% !important;
    padding-top: 5%;
    margin-top: 8px;
}

#item {
    color:white !important;
    font-weight: 700;
    
}

#rodape {
    background-color: #C4C4C4;
    border-radius: 15px;
    width: 100%;
    margin-left: 2px;
    margin-top: 42px;
    padding-left: 20px;
    padding-top: 12px;
    margin-bottom: 10px;
}

#itemFooter {
    color: black !important;
    text-decoration: none;
    font-weight: 600;
}

